@import url(../../Style/global.css);

h2{
    font-family: 'bubble_shineregular';
    color: #E6D2DB;
    font-size: 50px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
body{
	background: linear-gradient(-45deg, #c3b7cc 0%, #a17fbd 0.01%, #9045d6 0.02%, #450094 62.5%, #0E0035 100%);;
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
.line1 , .line2{
    background-color: #ffffff;
    height: 1px;
    width: 30%;
    margin: auto;
}
.line2{
    width: 80%;
}
*{
    font-family: 'Poppins', sans-serif;
}

.box{
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 2px 2px 9px rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(59px);
    border-radius: 20px;
    width: 40%;
    padding: 30px;   
    margin: 30px auto;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: center;
}
h3{
    font-weight: 100;
}
.labelLogin{
    display: flex;
    flex-direction: column;
}
input{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0px 5px 5px 0px;
    width: 70%;
    border: none;
}

.icon{
    background: #DAD0E5;
    padding: 0 10px;
    border-radius: 10px 0px 0px 10px;
    width: 25px;
}
.label{
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
}
button{
    background-color: #310169;
    border: none;
    width: 50%;
    margin: auto;
    color: #ffffff;
    font-size: 15px;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
    margin-top: 15px;
    padding: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #270050;
    transition: ease 0.9s;
}
a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    margin: 20px 0px;
}
h4{
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 14px;
}
h4>a{
    color: #170029;
    font-weight: bold;
    font-size: 14px;
}
.bg-pan-left {
	-webkit-animation: bg-pan-left 8s both;
	        animation: bg-pan-left 8s both;
}
@-webkit-keyframes bg-pan-left {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes bg-pan-left {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
