.conteiner input{
    border: none;
    background: transparent;
    border-bottom: 2px solid #841FA5;
    border-radius: 0;
}
.buscar{
    display: flex;
    justify-content: center;
}
.buscar img{
    width: 45px;
}
.conteiner label{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.conteiner select{}
.filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 18vw;
}